#the MASTER ignore
.gitignore

# Logs
logs   
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.next
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.venv

# Cache
backend/__pycache__

# Documents
public/assets/documents/appeal-letter.txt
public/assets/documents/approval-notice.txt
public/assets/documents/clinical-notes.txt
public/assets/documents/denial-notice.txt
public/assets/documents/medical-records.txt
public/assets/documents/operative-report.txt
public/assets/documents/policy-documentation.txt
public/documents/appeal-letter.txt
public/documents/approval-notice.txt
public/documents/clinical-notes.txt
public/documents/denial-notice.txt
public/documents/medical-records.txt
public/documents/operative-report.txt
public/documents/policy-documentation.txt
src/assets/documents/appeal-letter-1003.txt
src/assets/documents/appeal-letter-1004.txt
src/assets/documents/appeal-letter-1005.txt
src/assets/documents/appeal-letter-1006.txt
src/assets/documents/appeal-letter-1007.txt
src/assets/documents/appeal-letter.txt
src/assets/documents/approval-notice.txt
src/assets/documents/clinical-notes.txt
src/assets/documents/denial-notice.txt
src/assets/documents/medical-records.txt
src/assets/documents/operative-report.txt
src/assets/documents/policy-documentation.txt

# API Health Check logs
api_health_check_*.json